{{>header}}
{{!-- sidenav --}}
 {{>nav}}

<section class="main_content dashboard_part">
         {{commonheaderadmin userData}}
    
         {{!-- .common-inner-content  --}}
            <!-- Modal for creating offer-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Offer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/offerlist" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Name</label>
                                            <input type="text" required name="discount_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Discount Percent</label>
                                            <input type="number" required min="0" name="discount_percent" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Discoutn Type</label>
                                            <select name="discount_type" required class="form-control">
                                                <option value="Individual">Item Wise</option>
                                                <option value="Global">Global</option>
                                            </select>
                                        
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Description</label>
                                            <textarea name="description"  cols="2" rows="2" class="form-control"></textarea>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-info float-right my-2">Create</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for Veiw and update offer-->
                <div class="modal fade" id="offerview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Single Offer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/updateoffer" method="post">
                                <div class="row">
                                     <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >ID</label>
                                            <input type="text" readonly required name="discount_id" class="form-control" id="discount_id">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Name</label>
                                            <input type="text" required name="discount_name" class="form-control" id="discount_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Discount Percent</label>
                                            <input type="number" required min="0" name="discount_percent" id="discount_percent" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Discoutn Type</label>
                                            <select name="discount_type" required class="form-control" id="discount_type">
                                                <option value="individual">Item Wise</option>
                                                <option value="global">Global</option>
                                            </select>
                                        
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="" class="py-2" >Description</label>
                                            <textarea name="description" id="description" cols="2" rows="2" class="form-control" ></textarea>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Current Status:</label>
                                            <select name="isactive" id="isactive" class="form-control">
                                                <option value="true">Active</option>
                                                <option value="false">Deactivated</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-info float-right my-2">Update</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                        </div>
                        </div>
                    </div>
                </div>
               <div class="common-inner-content p-5">
                    <div class="col-sm-12">
                     <div class="card">
                    <div class="card-header">
                        <div class="row ">
                            <div class="col  d-flex justify-content-between">
                                <h5 class="card-title">Clients</h5>  
                                 <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Create New Offer
                             </button>    
                            </div>
                            
                        </div>
                      {{#if msg}}
                        <div class="alert alert-{{type}} alert-dismissible fade show my-2" role="alert">
                        
                            <strong>{{msg}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}
                    </div>
                    <div class="card-body p-5">
                        <div class="table-responsive">
                            <div id="data-table_wrapper" class="dataTables_wrapper">
                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="datatable table table-bordered hover-table dataTable"
                                            id="data-table" role="grid">
                                            <thead >

                                                <tr role="row ">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="data-table"
                                                        rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="ID: activate to sort column descending"
                                                        >ID</th>
                                                    
                                                    <th class="sorting" tabindex="0" aria-controls="data-table"
                                                        rowspan="1" colspan="1"
                                                        aria-label="Last Visit: activate to sort column ascending"
                                                        >Name</th>
                                                    <th style="width: 50px;">Discount_Percent</th>
                                                    <th>Discount_Type</th>
                                                    <th>createdAt</th>
                                                    <th>Status</th>
                                                    <th >Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each offerlist}}
                                               {{!-- single patient --}}
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">#{{this.id}}</td>
                                                    <td>
                                                       <span class="user-name" style="color: black;font-weight:bold">{{this.discount_name}}</span>
                                                    </td>
                                                    <td style="color: black;font-weight:bold;">{{this.discount_percent}}</td>
                                                   
                                                    <td>{{this.discount_type}}</td>
                                                    <td>{{this.createdAt}}</td>
                                                    <td>{{ globalActiveInactiveCustomer this.isactive}}</td>
                                                   
                                                    <td style="width: 250px;display:block">
                                                        <a href="#" onclick="getDatasetValue(this)"  data-bs-toggle="modal" data-discount_type="{{this.discount_type}}" data-id="{{this.id}}" data-name="{{this.discount_name}}" data-percent="{{this.discount_percent}}" data-status="{{this.isactive}}" data-description="{{this.description}}" data-bs-target="#offerview" class="btn btn-warning m-1"><span class="user-name">View</span> <span class="text-muted"></span></a>
                                                        <a href="/admin/viewsingleoffer/{{this.id}}"   class="btn btn-info m-1"><span class="user-name">View Item</span> <span class="text-muted"></span></a>
                                                        
                                                        
                                                    </td>
                                                </tr>
                                               {{/each}}
                                            </tbody>
                                        </table>
                                       
                                    <script>
                                        const getDatasetValue =(e)=>{
                                                const name = document.getElementById("discount_name")
                                                const discount_percent = document.getElementById("discount_percent")
                                                const isactive = document.getElementById("isactive")
                                                const discount_id = document.getElementById("discount_id")
                                                const discount_type = document.getElementById("discount_type")
                                                const description = document.getElementById("description")
                                                
                                                name.value=e.dataset.name;
                                                discount_percent.value =  e.dataset.percent
                                                isactive.value=e.dataset.status;
                                                discount_type.value = e.dataset.discount_type
                                                discount_id.value=e.dataset.id;
                                                description.value=e.dataset.description;
                                               
                                                 
                                            }
                                    </script>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                    </div>

               </div>
    </div>

   

    {{!-- mini footer --}}
    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="footer_iner text-center">
                        <p>2020 © Influence - Designed by<a href="#"> Dashboard</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- footer  --}}
{{>footer}}

   <script>
        $(document).ready(function() {
        $('#data-table').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            order: [[3, 'desc']],
            } );
        } );
    </script>