{{>header}}
{{!-- sidenav --}}
 {{>nav}}

<section class="main_content dashboard_part">
   {{commonheaderadmin userData}}
     {{!-- .common-inner-content  --}}
               <div class="common-inner-content p-5">
                   <div class="w-100 text-end my-4">
                       <a href="/admin/allorderlist" class="btn btn-secondary">Order list</a>
                   </div>
                    
                    <div class="col-sm-12" >
                        <div class="card">
                            {{#if message}}
                               <div class="alert  alert-dismissible fade show alert_custom  alert-success mb-1" role="alert" id="custom_alert_box">
                                  <strong>Success</strong> Order status updated.
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                               </div>
                            {{/if}}
                           
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col d-flex justify-content-between">
                                        <h5 class="card-title">Order Invoice<span
                                                class="badge badge-pill badge-danger pl-4"></span></h5> <h4><span class="badge bg-info text-dark">{{singleorder.order.status}}</span></h4>
                                               
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0" id="invoice">
                                <div class="ms-panel p-3">
                                    <div class="ms-panel-header header-mini">
                                    <div class="d-flex justify-content-between">
                                        <h6>Invoice</h6>
                                        <h6>#000{{singleorder.order.id}}</h6>
                                    </div>
                                    </div>
                                    <div class="ms-panel-body ">

                                    <!-- Invoice To -->
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                        <div class="invoice-address">
                                            <h3>Customer: </h3>
                                            <h5>{{singleorder.order.shippingaddress.name}}</h5>
                                            <p>{{singleorder.order.shippingaddress.phone}}</p>
                                            <p class="mb-0">{{singleorder.order.shippingaddress.address}}</p>
                                            <p class="mb-0">{{singleorder.order.shippingaddress.area}}</p>
                                            <p>{{singleorder.order.shippingaddress.city}}</p>
                                        </div>
                                        </div>
                                        <div class="col-md-6 text-md-right">
                                        <ul class="invoice-date">
                                            <li>Invoice Date : {{singleorder.order.createdAt}}</li>
                                           
                                        </ul>
                                        </div>
                                    </div>

                                    <!-- Invoice Table -->
                                    <div class="ms-invoice-table table-responsive mt-5">
                                        <table class="table table-hover text-right thead-primary">
                                        <thead>
                                            <tr class="text-capitalize">
                                            <th class="text-center w-5">id</th>
                                            <th class="text-left">Name</th>
                                            <th>qty</th>
                                            <th>Unit Cost</th>
                                            <th>total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each singleorder.order.orderitem}}
                                            <tr>
                                                <td class="text-center">{{this.id}}</td>
                                                <td class="text-left">{{this.name}}</td>
                                                <td>{{this.quantity}}</td>
                                                <td>৳{{this.price}}</td>
                                                <td>৳{{this.subtotal}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                            <td colspan="4">Total Cost: </td>
                                            <td class="fw-bold">৳{{total}}</td>
                                            </tr>
                                        </tfoot>
                                        </table>
                                    </div>
                                   

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                 <div class="invoice-buttons text-right">
                                        <a href="#" class="btn btn-info mr-2" onclick="generatePDF()">Download Invoice</a>
                                        <a href="#" class="btn btn-warning mr-2" onclick="printInvoice()">Print</a>
                                        {{deliveredOrNot  singleorder.order.status singleorder.order.id}}
                                        
                                 </div>
                            </div>
                        </div>
                    </div>
              </div>
    </div>

   

    {{!-- mini footer --}}
    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="footer_iner text-center">
                        <p>2020 © Influence - Designed by<a href="#"> Dashboard</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- footer  --}}
{{>footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
 const generatePDF = ()=>{
  var element = document.getElementById('invoice');
  html2pdf(element);
    
}
 const printInvoice = ()=>{ 
    w=window.open();
    w.document.write($('#invoice').html());
    w.print();
    w.close();
    
}

</script>